
html,body{
    width:3840px;
    height:1080px;
    background:url("../images/bg.jpg") no-repeat;
    background-size: 100% 100%;
}
#app{
    width:100%;
    height:100%;
    position: relative;
}
#app>section{
    position: absolute;
    display: inline-block;
    height:100%;
}
/* .left{
    background:url("../images/left.png") no-repeat;
    background-size: 100% 100%;
    width:1087px;
    height:839px;
    
} */
.center{
    background:url("../images/center1.png") no-repeat;
    background-size: 100% 100%;
    width:3662px;
    height:1054px;
 
}
/* .right{
    background:url("../images/right.png") no-repeat;
    background-size: 100% 100%;
    width:1139px;
    height:856px;
 
} */